<section class="container py-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h1 class="text-3xl font-bold mb-4">{{title}} Usuario</h1>
                <form [formGroup]="userForm" (ngSubmit)="getDataForm()">
                    
                    <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Introduce tu nombre">
                            @if(checkControl('nombre', 'required')){
                            <p class="error">El campo es obligatorio</p>
                            }
                            @if(checkControl('nombre', 'minlength')){
                            <p class="error">El campo tiene que tener al menos 3 caracteres</p>
                            }
                    </div>

                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" id="apellidos" class="form-control" formControlName="apellidos" placeholder="Introduce tus apellidos">
                        @if(checkControl('apellidos', 'required')){
                        <p class="error">El campo es obligatorio</p>
                        }
                        @if(checkControl('apellidos', 'minlength')){
                        <p class="error">El campo tiene que tener al menos 3 caracteres</p>
                        }
                </div>

                    <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" class="form-control" formControlName="email" placeholder="Introduce tu email">
                            @if(checkControl('email', 'required')){
                            <p class="error">Campo obligatorio</p>
                            }
                            @if(checkControl('email', 'pattern')){
                            <p class="error">El email tiene que ser correcto</p>
                            }
                    </div>

                    <div class="mb-3">
                        <label for="imagen" class="form-label">Imagen de usuario</label>
                        <input type="url" id="imagen" class="form-control" formControlName="imagen" placeholder="Introduce la url a tu imagen de usuario">
                        @if(checkControl('imagen', 'required')){
                        <p class="error">Campo obligatorio</p>
                        }
                    </div>
                        <input type="submit" value="Enviar" class="btn bg-info" [disabled]="userForm.invalid" [value]="userForm.get('_id')?.value ? 'Actualizar' : 'Registrar' ">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> 
